node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Infrastructure
cdk.out/
.cdk.staging/
_aws/

# Docker & Credential Helpers
.docker_creds.json
docker-credential-secretservice
.tmp_docker/

# AWS / Amplify
.amplify/
aws-exports.js
amplifyconfiguration.json
amplify-backup/
amplify-build/
.aws-sam/
